NEXTAUTH_SECRET='2faa6e48598919ca4e2aad1547b8914fc25a85a65a2aff603bfab9ae969a84db6251c03f3dd49754cbdd74f3027a346d8c3af029ec3cd452bd7a134fe8c78ebd'
NEXTAUTH_URL=http://localhost:3000
DATABASE_URL="postgresql://neondb_owner:npg_f0CiRjDz4Her@ep-gentle-queen-aqzqd3lp-pooler.c-8.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
OPENWEATHER_API_KEY=
RESEND_API_KEY=
NEXT_PUBLIC_APP_URL=http://localhost:3000 